.clock-container {
    margin-top: -12px;
}

.laiks {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: hsl(232deg 10% 29%);
    padding-bottom: 3px;
}

.laiks li {
    list-style: none;
    overflow: hidden;
    justify-content: center;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

span {
    letter-spacing: 1.5px;
}
