.leaf1,
.leaf2,
.leaf3,
.mejiro1,
.mejiro2 {
  position: absolute;
  filter: drop-shadow(22px -12px 7px rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.leaf1 {
  top: 10%;
  left: 22%;
  width: 3%;
  transform: rotate(100deg);
  animation: leaf1 6s infinite alternate-reverse;
}
.leaf2 {
  top: 14%;
  left: 20%;
  width: 4%;
  transform: rotate(110deg);
  animation: leaf2 5s infinite alternate-reverse ease-in-out;
}
.leaf3 {
  top: 70%;
  left: 80%;
  width: 5%;
  transform: rotate(210deg);
  filter: drop-shadow(-22px -12px 7px rgba(0, 0, 0, 0.5));
  animation: leaf3 8s infinite alternate-reverse ease-in-out;
}
.mejiro1 {
  top: 18%;
  left: 50%;
  width: 10%;
  transform: rotate(110deg);
  filter: drop-shadow(10px 18px 7px rgba(0, 0, 0, 0.5));
  animation: mejiro1 8s infinite alternate-reverse ease-in-out;
}

.mejiro2 {
  top: 22%;
  left: 69%;
  width: 7%;
  transform: rotate(110deg);
  filter: drop-shadow(-20px 30px 7px rgba(0, 0, 0, 0.5));
  /* animation: mejiro2 8s infinite alternate-reverse ease-in-out; */
  animation: mejiro2 2s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes leaf1 {
  from {
    transform: translateY(20px) rotate(100deg);
  }
  to {
    transform: translateY(0) rotate(120deg);
  }
}

@keyframes leaf2 {
  from {
    transform: translateY(0) rotate(110deg);
  }
  to {
    transform: translateY(10px) rotate(90deg);
  }
}
@keyframes leaf3 {
  from {
    transform: translateY(30px) rotate(210deg);
  }
  to {
    transform: translateY(0) rotate(240deg);
  }
}

@keyframes mejiro1 {

  from {
    transform: translateY(60px) rotate(400deg);
  }

  to {
    transform: translateY(0) rotate(320deg);
  }
}

@keyframes mejiro2 {

  from {
    transform: translateY(0px) rotateY(0deg) rotateX(-20deg);;
  }

  to {
    transform: translateY(0) rotateY(0deg) rotateX(20deg);
  }
}


/*  ---------  Media Screen ---------- */

@media screen and (min-width: 692px) {
  .leaf1 {
    top: 10%;
    left: 32%;
    width: 3%;
  }
  .leaf2 {
    top: 14%;
    left: 30%;
    width: 2%;
  }
  .leaf3 {
    top: 74%;
    left: 68%;
    width: 3%;
  }
  .mejiro1 {
    top: 20%;
    left: 50%;
    width: 6%;
  }
  .mejiro2 {
    top: 20%;
    left: 63%;
    width: 4%;
  }
}

@media screen and (min-width: 992px) {
  .leaf1 {
    top: 8%;
    left: 42%;
    width: 2%;
  }
  .leaf2 {
    top: 14%;
    left: 40%;
    width: 2%;
  }
  .leaf3 {
    top: 70%;
    left: 60%;
    width: 2%;
  }
  .mejiro1 {
    top: 18%;
    left: 50%;
    width: 4%;
  }
  .mejiro2 {
    top: 18%;
    left: 60%;
    width: 3%;
  }
}
